@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(20% 0.042 265.755);
  --color-primary-content: oklch(92% 0.013 255.508);
  --color-secondary: oklch(37% 0.044 257.287);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: oklch(70% 0.04 256.788);
  --color-accent-content: oklch(96% 0.007 247.896);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(26% 0.051 172.552);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(47% 0.137 46.201);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(27% 0.105 12.094);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --badge-event: oklch(82% 0.12 346.018)
}
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(70% 0.04 256.788);
  --color-primary-content: oklch(92% 0.006 264.531);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: oklch(20% 0.042 265.755);
  --color-accent-content: oklch(92% 0.013 255.508);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(90% 0.058 230.902);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(90% 0.093 164.15);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(94% 0.129 101.54);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
