@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(70% 0.04 256.788);
  --color-primary-content: oklch(92% 0.006 264.531);
  --color-secondary: oklch(37% 0.044 257.287);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: oklch(20% 0.042 265.755);
  --color-accent-content: oklch(92% 0.013 255.508);
  --color-neutral: oklch(98% 0.003 247.858);
  --color-neutral-content: oklch(12% 0.042 264.695);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(90% 0.058 230.902);
  --color-success: oklch(26% 0.051 172.552);
  --color-success-content: oklch(90% 0.093 164.15);
  --color-warning: oklch(47% 0.137 46.201);
  --color-warning-content: oklch(92% 0.12 95.746);
  --color-error: oklch(27% 0.105 12.094);
  --color-error-content: oklch(89% 0.058 10.001);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(20% 0.042 265.755);
  --color-primary-content: oklch(92% 0.013 255.508);
  --color-secondary: oklch(37% 0.044 257.287);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: oklch(55% 0.046 257.417);
  --color-accent-content: oklch(92% 0.006 264.531);
  --color-neutral: oklch(0.2542 0.0111 254.04);
  --color-neutral-content: oklch(87% 0.01 258.338);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(52% 0.105 223.128);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(38% 0.063 188.416);
  --color-warning: oklch(94% 0.129 101.54);
  --color-warning-content: oklch(47% 0.114 61.907);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
